@{
    ViewBag.Title = "MonthStatistics2";
    Layout = "~/Views/Shared/_adminLTELayout.cshtml";
}

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-12">
                    <div class="col-xs-2" id="menuList">
                    </div>

                    <div class="col-xs-1">
                        <input type="text" id="EvaluateYear" autocomplete="off" class="form-control" placeholder="请输入年份">
                    </div>

                    <div class="col-xs-1">
                        <button class="btn btn-sm btn-primary" id="btnSearch">搜索</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-default">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <table id="tbList"  class="layui-table" data-reorderable-columns="true" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"></table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/static/app/app.js"></script>

    <script type="text/javascript">
        var _dataTable;
        var role = '';
        var deptType = '';
        var tbOpts = {
            type: 'csv',
            fileName: '月度考核首末排名',
        }

        var QueryObj = {};


        $(function () {

            $("#menuList").loadMenus("evaluate_statistic_analysis");

            var date = new Date();
            var fullYear = date.getFullYear();
            var month = date.getMonth() + 1;

            $("#EvaluateYear").val(fullYear);
            $("#EvaluateMonth").val(month);

            var tbOptions;

            $.ajax({
                type: "get",
                url: "/MonthlyAssessments/GetTableColumns4MonthlyStatisticsAssessment2",
                async: false,
                data: {},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    tbOptions = {
                        pageList: [10000],
                        pageSize: 10000,
                        columns: data.rows
                    };
                }
            });

            //var tbOptions = {
            //    pageList: [10000],
            //    pageSize: 10000,
            //    columns: [
            //        {
            //            field: 'YueFen',
            //            title: '月份'
            //        },
            //        {
            //            field: '[安全科]',
            //            title: '安全科'
            //        },
            //        {
            //            field: '[办公室]',
            //            title: '办公室'
            //        },
            //        {
            //            field: '[变电科]',
            //            title: '变电科'
            //        },
            //        {
            //            field: '[材料科]',
            //            title: '材料科'
            //        },
            //        {
            //            field: '[财务科]',
            //            title: '财务科'
            //        },
            //        {
            //            field: '[党办]',
            //            title: '党办'
            //        },
            //        {
            //            field: '[调度]',
            //            title: '调度'
            //        },
            //        {
            //            field: '[分析室]',
            //            title: '分析室'
            //        },
            //        {
            //            field: '[工程科]',
            //            title: '工程科'
            //        },
            //        {
            //            field: '[计量室]',
            //            title: '计量室'
            //        },
            //        {
            //            field: '[开发科]',
            //            title: '开发科'
            //        },
            //        {
            //            field: '[劳人科]',
            //            title: '劳人科'
            //        },
            //        {
            //            field: '[设备科]',
            //            title: '设备科'
            //        },
            //        {
            //            field: '[水电科]',
            //            title: '水电科'
            //        },
            //        {
            //            field: '[唐山供电段]',
            //            title: '唐山供电段'
            //        },
            //        {
            //            field: '[网技科]',
            //            title: '网技科'
            //        },
            //        {
            //            field: '[信息科]',
            //            title: '信息科'
            //        },
            //        {
            //            field: '[职教科]',
            //            title: '职教科'
            //        },
            //        {
            //            field: '[综治办]',
            //            title: '综治办'
            //        },
            //        {
            //            field: '[总部]',
            //            title: '总部'
            //        }]
            //}

            App.init();

            App.setExportOptions(tbOpts);

            _dataTable = App.initTable('/MonthlyAssessments/OutDataTmp1', tbOptions);

            _dataTable.SetParameters({
                queryYear: parseInt($("#EvaluateYear").val())
            });

            _dataTable.Init();

            $("#btnSearch").click(function () {

                var EvaluateYear = parseInt($("#EvaluateYear").val());

                if (isNaN(EvaluateYear) || (EvaluateYear < 1977 || EvaluateYear > 9999)) {

                    swal("提示", "请输入合法的年份", "warning");
                    return;
                }

                QueryObj = {
                    queryYear: parseInt($("#EvaluateYear").val())
                };

                _dataTable.SetParameters(QueryObj);
                _dataTable.Refresh();
            });
        });
    </script>
}

