
@{
    ViewBag.Title = "年度考核登记表";
    Layout = "~/Views/Shared/_adminLTELayout.cshtml";
}

@section css
{
    <link rel="stylesheet" href="~/static/assets/plugins/jquery-ztree/css/zTreeStyle/zTreeStyle.min.css" />
}

<div class="container" ng-app="myApp" ng-controller="appController">

    <div class="box box-warning" id="warningbox" style="display:none">
        <div class="box-header with-border">
            <h4 class="box-title">警告！</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="show_box_warning(0)"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="alert alert-warning alert-dismissible">
                <ul>
                    <li ng-repeat="item in ErrList">
                        <h4>{{item}}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <form class="form-horizontal" id="inputForm">
        <input type="hidden" name="Id" ng-model="model.Id" />
        <input type="hidden" name="UserId" ng-model="model.UserId" />
        <input type="hidden" name="Creator" ng-model="model.Creator" />

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">部门:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               id="OrgName"
                               ng-click="OrgClick()"
                               ng-model="model.OrgName"
                               data-toggle="modal"
                               data-target="#modal-default"
                               maxlength="10"
                               minlength="2"
                               class="form-control required"
                               placeholder="请选择部门" />
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-sm-3 col-sm-pull-1 control-label">部门:</label>
                        <div class="col-sm-8 col-sm-pull-1">
                            <select class="form-control" name="OrgId" ng-model="model.OrgId">
                                <option value="" ng-selected="'' == model.OrgId">--请选择--</option>
                                <option ng-repeat="item in DeptList"
                                        ng-selected="item.Id == model.OrgId"
                                        value="{{item.Id}}">
                                    {{item.Name}}
                                </option>
                            </select>
                        </div>
                    </div>*@
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-1 control-label">登记时间:</label>
                    <div class="col-sm-8">
                        <input type="text"
                               autocomplete="off"
                               name="RegistrationTime"
                               ng-model="model.RegistrationTime"
                               class="form-control adminlte_datepicker RegistrationTime required" placeholder="请选择登记时间" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label">姓名:</label>
                    <div class="col-sm-9">
                        <input type="text"
                               autocomplete="off"
                               name="Name"
                               ng-model="model.Name"
                               readonly
                               class="form-control required" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label">性别:</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="UserId" ng-model="model.Sex" ng-change="UserSelected(model.Sex)">
                            <option value="" ng-selected="'' == model.UserId">--请选择--</option>
                            <option ng-repeat="item in SexList"
                                    ng-selected="item == model.Sex"
                                    value="{{item}}">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label">出生日期:</label>
                    <div class="col-sm-9">
                        <input type="text"
                               autocomplete="off"
                               name="Birthday"
                               ng-model="model.Birthday"
                               class="form-control adminlte_datepicker Birthday required" placeholder="请选择出生日期" />
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label">民族:</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="Nation" ng-model="model.Nation">
                            <option value="" ng-selected="'' == model.Nation">--请选择--</option>
                            <option ng-repeat="item in NationList"
                                    ng-selected="item == model.Nation"
                                    value="{{item}}">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label">政治面貌:</label>
                    <div class="col-sm-9">

                        <select class="form-control" name="Politicalaffiliation" ng-model="model.Politicalaffiliation">
                            <option value="" ng-selected="'' == model.Politicalaffiliation">--请选择--</option>
                            <option ng-repeat="item in PoliticalaffiliationList"
                                    ng-selected="item == model.Politicalaffiliation"
                                    value="{{item}}">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <label class="col-sm-3 control-label">文化程度:</label>
                    <div class="col-sm-9">

                        <select class="form-control" name="Politicalaffiliation" ng-model="model.DegreeEdu">
                            <option value="" ng-selected="'' == model.DegreeEdu">--请选择--</option>
                            <option ng-repeat="item in DegreeEduList"
                                    ng-selected="item == model.DegreeEdu"
                                    value="{{item}}">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 col-sm-pull-1 control-label">现任职务:</label>
                    <div class="col-sm-8 col-sm-pull-1">
                        <input type="text"
                               name="Position"
                               autocomplete="off"
                               ng-model="model.Position"
                               maxlength="20"
                               minlength="2"
                               class="form-control required"
                               placeholder="请输入现任职务" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-1 control-label">任现职时间:</label>
                    <div class="col-sm-8">
                        <input type="text"
                               autocomplete="off"
                               name="Officetime"
                               ng-model="model.Officetime"
                               class="form-control adminlte_datepicker Officetime required" placeholder="请选择任现职时间" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">个人总结:</label>
                    <div class="col-sm-11">
                        <textarea class="form-control" placeholder="请输入个人总结" rows="10" name="Conclusion" ng-model="model.Conclusion"></textarea>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">
                        考核期内奖惩情况:
                    </label>
                    <div class="col-sm-11">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">
                                                    <input type="text"
                                                           autocomplete="off"
                                                           ng-model="model.PenaltyTime" name="PenaltyTime"
                                                           class="form-control adminlte_datepicker PenaltyTime" placeholder="请选择日期">
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label">因</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text"
                                                           autocomplete="off"
                                                           ng-model="model.PenaltyReasons" name="PenaltyReasons"
                                                           class="form-control" placeholder="请输入原因">
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label">受</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text"
                                                           autocomplete="off"
                                                           ng-model="model.Penalty" name="Penalty"
                                                           class="form-control" placeholder="请输入处分详情">
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label">处分</label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-2">
                                                    <input type="text"
                                                           autocomplete="off"
                                                           ng-model="model.RewardTime" name="RewardTime"
                                                           class="form-control adminlte_datepicker RewardTime" placeholder="请选择日期">
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label">因</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text"
                                                           autocomplete="off"
                                                           ng-model="model.RewardReasons" name="RewardReasons"
                                                           class="form-control" placeholder="请输入原因">
                                                </div>
                                                <div class="col-sm-1">
                                                    <label class="control-label">获得</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text"
                                                           autocomplete="off"
                                                           ng-model="model.Reward" name="Reward"
                                                           class="form-control" placeholder="请输入称号">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">民主测评:</label>
                    <div class="col-sm-11">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">测评人员范围:</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       autocomplete="off"
                                                       name="Scope"
                                                       ng-model="model.Scope"
                                                       class="form-control" placeholder="请输入被测评人员范围" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">测评人数:</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       autocomplete="off"
                                                       name="EvaluationCount"
                                                       ng-model="model.EvaluationCount"
                                                       class="form-control" placeholder="请输入被测评人数" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">要素测评得分:</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       autocomplete="off"
                                                       name="FactorScore"
                                                       ng-model="model.FactorScore"
                                                       class="form-control" placeholder="请输入要素测评得分" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">优秀称职率:</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       name="Rate"
                                                       autocomplete="off"
                                                       ng-model="model.Rate"
                                                       class="form-control" placeholder="请输入优秀称职率" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">排名顺位:</label>
                                            <div class="col-sm-9">
                                                <input type="text"
                                                       name="Rank"
                                                       autocomplete="off"
                                                       ng-model="model.Rank"
                                                       class="form-control" placeholder="请输入排名顺位" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">
                        车间(部门)正职意见:
                    </label>
                    <div class="col-sm-11">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <label class="control-label">同意该同志考核评定为：</label>
                                                    <label>
                                                        <input type="radio" name="Officialadvice" value="1" ng-checked="model.Officialadvice==1" class="minimal">
                                                        优秀
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="Officialadvice" value="2" ng-checked="model.Officialadvice==2" class="minimal">
                                                        称职
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="Officialadvice" value="3" ng-checked="model.Officialadvice==3" class="minimal">
                                                        基本称职
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="Officialadvice" value="4" ng-checked="model.Officialadvice==4" class="minimal">
                                                        不称职
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-10 col-sm-offset-4">
                                                    <div class="col-sm-3">
                                                        <label class="control-label">正职领导：{{model.OfficialName}}</label>
                                                    </div>
                                                    <div class="col-sm-4 col-sm-offset-3">
                                                        <input type="text"
                                                               autocomplete="off"
                                                               name="OfficialTime"
                                                               ng-model="model.OfficialTime"
                                                               class="form-control adminlte_datepicker OfficialTime" placeholder="请选择正职领导办理时间" />
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">
                        人事部门意见:
                    </label>
                    <div class="col-sm-11">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <label class="control-label">依据唐山供电段《干部综合考核评价实施办法》，该同志考核评定为：</label>

                                                </div>
                                                <div class="col-sm-6">

                                                    <textarea name="HRAdvice" autocomplete="off" ng-model="model.HRAdvice" rows="5" class="form-control"></textarea>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-10 col-sm-offset-4">

                                                    <div class="col-sm-4 col-sm-offset-6">
                                                        <input type="text"
                                                               name="HRTime"
                                                               autocomplete="off"
                                                               ng-model="model.HRTime"
                                                               class="form-control adminlte_datepicker HRTime required" placeholder="请选择人力部办理时间" />
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">
                        单位(党委)意见:
                    </label>
                    <div class="col-sm-11">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">

                                                <div class="col-sm-12">
                                                    <textarea name="UnitAdvice" autocomplete="off" ng-model="model.UnitAdvice" rows="5" class="form-control"></textarea>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-10 col-sm-offset-4">

                                                    <div class="col-sm-4 col-sm-offset-6">
                                                        <input type="text"
                                                               autocomplete="off"
                                                               name="UnitTime"
                                                               ng-model="model.UnitTime"
                                                               class="form-control adminlte_datepicker UnitTime required" placeholder="请选择单位(党委)办理时间" />
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">
                        备注:
                    </label>
                    <div class="col-sm-11">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-12">

                                                <div class="col-sm-12">
                                                    <textarea name="Notes" autocomplete="off" ng-model="model.Notes" rows="5" class="form-control"></textarea>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button class="btn  btn-warning" ng-click="Close()">关闭</button>
                        <button class="btn  btn-success" ng-click="Submit()">保存</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">请选择</h4>
                </div>
                <div class="modal-body">
                    <p id="modal-message"><ul id='myTree' class='ztree'></ul></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button ng-click="OrgSelected()" class="btn btn-primary">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>

@section scripts
{
    <script src="~/static/assets/plugins/jquery-ztree/js/jquery.ztree.core-3.5.min.js"></script>

    <script>
        var Id = "@ViewBag.Id";

        var UserId = "@ViewBag.UserId";

        $(function () {
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
        });
    </script>

    <script src="~/static/app/app.js"></script>

    <script src="~/static/app/AnnualExaminationRegistrationForm.js"></script>

}