@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
}
<blockquote class="layui-elem-quote news_search toolList" id="menus"></blockquote>
<>
<div class="layui-row">
    @*<div class="layui-col-xs2">
            <ul id="tree" class="ztree"
                style="padding: 2px; border: 1px solid #ddd; overflow: auto;">
            </ul>
        </div>*@
    <div class="layui-col-xs10">
        <table class="layui-table"
               lay-data="{height: 'full-80', page:true, id:'mainList'}"
               lay-filter="list" lay-size="sm">
            <thead>
                <tr>
                    <th lay-data="{checkbox:true, fixed: true}"></th>
                    @*<th lay-data="{field:'Id', width:150}">Id</th>*@
                    <th lay-data="{field:'RatersName', width:150}">评测人</th>
                    <th lay-data="{field:'JudgeName', width:150}">被评测人</th>
                    <th lay-data="{field:'Q1', width:150, toolbar: '#QQ1'}">德</th>
                    <th lay-data="{field:'Q2', width:150, toolbar: '#QQ2'}">能</th>
                    <th lay-data="{field:'Q3', width:150, toolbar: '#QQ3'}">勤</th>
                    <th lay-data="{field:'Q4', width:150, toolbar: '#QQ4'}">绩</th>
                    <th lay-data="{field:'Q5', width:150, toolbar: '#QQ5'}">廉</th>
                    <th lay-data="{field:'Q6', width:150, toolbar: '#QQ6'}">综合评价</th>
                    <th lay-data="{field:'Optime', width:150}">答题完成时间</th>
                    <th lay-data="{field:'State', width:150}">状态</th>
                    @*<th lay-data="{field:'PlanId', width:150}">方案ID</th>*@
                    <th lay-data="{field:'PlanName', width:150}">方案名称</th>
                    <th lay-data="{fixed: 'right', width:160, align:'center', toolbar: '#barList'}"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/html" id="barList">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>


<!--添加/编辑窗口-->
<div id="divEdit" style="display: none">
    <form class="layui-form" action="" id="formEdit">
        <input type="hidden" name="Id" v-model="Id" />
        <div class="layui-form-item">
            <label class="layui-form-label">评测人</label>
            <div class="layui-input-block">
                <input type="text" name="RatersId" v-model="RatersId" required lay-verify="required"
                       placeholder="评测人" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">被评测人</label>
            <div class="layui-input-block">
                <input type="text" name="JudgeId" v-model="JudgeId" required lay-verify="required"
                       placeholder="被评测人" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">答题1</label>
            <div class="layui-input-block">
                <input type="text" name="Q1" v-model="Q1" required lay-verify="required"
                       placeholder="答题1" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">答题2</label>
            <div class="layui-input-block">
                <input type="text" name="Q2" v-model="Q2" required lay-verify="required"
                       placeholder="答题2" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">答题3</label>
            <div class="layui-input-block">
                <input type="text" name="Q3" v-model="Q3" required lay-verify="required"
                       placeholder="答题3" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">答题4</label>
            <div class="layui-input-block">
                <input type="text" name="Q4" v-model="Q4" required lay-verify="required"
                       placeholder="答题4" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">答题完成时间</label>
            <div class="layui-input-block">
                <input type="text" name="Optime" v-model="Optime" required lay-verify="required"
                       placeholder="答题完成时间" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">State</label>
            <div class="layui-input-block">
                <input type="text" name="State" v-model="State" required lay-verify="required"
                       placeholder="State" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方案ID</label>
            <div class="layui-input-block">
                <input type="text" name="PlanId" v-model="PlanId" required lay-verify="required"
                       placeholder="方案ID" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方案名称</label>
            <div class="layui-input-block">
                <input type="text" name="PlanName" v-model="PlanName" required lay-verify="required"
                       placeholder="方案名称" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/Answers.js"></script>

<script type="text/html" id="QQ1">
    {{#if (d.Q5 == "10") { }}
    <span>优</span>
    {{# }else if(d.Q5 == "11"){ }}
    <span>中</span>
    {{# }else if(d.Q5 == "12"){ }}
    <span>差</span>
    {{# } }}
</script>
<script type="text/html" id="QQ2">
    {{#if (d.Q5 == "10") { }}
    <span>优</span>
    {{# }else if(d.Q5 == "11"){ }}
    <span>中</span>
    {{# }else if(d.Q5 == "12"){ }}
    <span>差</span>
    {{# } }}
</script>
<script type="text/html" id="QQ3">
    {{#if (d.Q5 == "10") { }}
    <span>优</span>
    {{# }else if(d.Q5 == "11"){ }}
    <span>中</span>
    {{# }else if(d.Q5 == "12"){ }}
    <span>差</span>
    {{# } }}
</script>
<script type="text/html" id="QQ4">
    {{#if (d.Q5 == "10") { }}
    <span>优</span>
    {{# }else if(d.Q5 == "11"){ }}
    <span>中</span>
    {{# }else if(d.Q5 == "12"){ }}
    <span>差</span>
    {{# } }}
</script>
<script type="text/html" id="QQ5">
    {{#if (d.Q5 == "10") { }}
    <span>优</span>
    {{# }else if(d.Q5 == "11"){ }}
    <span>中</span>
    {{# }else if(d.Q5 == "12"){ }}
    <span>差</span>
    {{# } }}
</script>
<script type="text/html" id="QQ6">
    {{#if (d.Q6 == "10") { }}
    <span>优秀</span>
    {{# }else if(d.Q6 == "11"){ }}
    <span>称职</span>
    {{# }else if(d.Q6 == "12"){ }}
    <span>基本称职</span>
    {{# }else if(d.Q6 == "13"){ }}
    <span>不称职</span>
    {{# } }}
</script>