
@{
    ViewBag.Title = "干部考评分";
    Layout = "~/Views/Shared/_adminLTELayout.cshtml";
}

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-12">
                    <div class="col-xs-2" id="menuList">
                    </div>
                    <div class="col-xs-2">
                        <select class="form-control" id="yearSelect">
                            <option value="2017">2017年</option>
                            <option value="2018">2018年</option>
                            <option value="2019" selected="selected">2019年</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <select class="form-control" id="positionSelect">
                            <option value="">请选择职务</option>
                            <option value="中层正职">中层正职</option>
                            <option value="中层副职">中层副职</option>
                            <option value="一般干部">一般干部</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <select id="DeptType" onchange="dept_type_select(this.options[this.options.selectedIndex].value)" class="form-control">
                            <option value="">请选择部门类别</option>
                            <option value="车间">车间</option>
                            <option value="专业科室">专业科室</option>
                            <option value="综合科室">综合科室</option>
                        </select>
                    </div>
                    @*<div class="col-xs-1">
            <input type="text" id="userName" autocomplete="off" class="form-control" placeholder="请输入姓名">
        </div>*@
                    <div class="col-xs-1">
                        <button class="btn btn-sm btn-primary" id="btnSearch">搜索</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-default">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <table id="tbList" data-reorderable-columns="true" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"></table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/static/app/app.js"></script>
    <script>
        var _dataTable;
        var tbOpts = {
            type: 'csv',
            fileName: '干部考评分',
        }

        $(function () {
            $("#menuList").loadMenus("evaluate_statistic_analysis");
            var tbOptions = {
                pageList: [10000],
                pageSize: 10000,
                columns: [
                    {
                        checkbox: true
                    }, {
                        visible: false,
                        field: 'Id'
                    }, {
                        field: 'JudgeName',
                        title: '姓名'
                    }, {
                        field: 'pingce',
                        title: '测评得分'
                    }, {
                        field: 'MonthlyAVG',
                        title: '月度考核平均分'
                    }, {
                        field: 'AccessmentScore',
                        title: '主管领导评价得分'
                    }, {
                        field: 'kaopingdefen',
                        title: '考评得分'
                    }, {
                        field: 'Index',
                        title: '排名'
                    }]
            };
            App.init({
                title: '综合考评成绩',
                width: '75%',
                height: '95%',
                form_url: '/CheckAndEvaluate/List/',
                delete_url: '/CheckAndEvaluate/Delete'
            });

            App.setExportOptions(tbOpts);

            _dataTable = App.initTable('/CheckAndEvaluate/List', tbOptions);

            _dataTable.SetParameters({
                year: "2019",
                type: "正职"
            });

            _dataTable.Init();

            $("#btnSearch").click(function () {

                var type = $("#positionSelect").val();
                var year = $("#yearSelect").val();

                _dataTable.SetParameters({
                    year: year,
                    type: type
                });

                _dataTable.Refresh();
            });

            $("#btnAdd").click(function () {
                PerformanceForm();
            });
        })
    </script>
}
