
@{
    ViewBag.Title = "EvaluateAverageScoreForm";
    Layout = "~/Views/Shared/_adminLTELayout.cshtml";
}

<div class="container" ng-app="myApp" ng-controller="appController">

    <div class="box box-warning" id="warningbox" style="display:none">
        <div class="box-header with-border">
            <h4 class="box-title">警告！</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-click="show_box_warning(0)"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="alert alert-warning alert-dismissible">
                <ul>
                    <li ng-repeat="item in ErrList">
                        <h4>{{item}}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <form class="form-horizontal" id="inputForm">
        <input type="hidden" name="Id" ng-model="model.Id" />
        <input type="hidden" name="Creator" ng-model="model.Creator" />
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="UserId" ng-model="model.UserId" ng-change="UserSelected(model.UserId)" >
                            <option value="" ng-selected="'' == model.UserId">--请选择--</option>
                            <option ng-repeat="item in UserList"
                                    ng-selected="item.Id == model.UserId"
                                    value="{{item.Id}}">
                                {{item.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">部门:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="OrgId" ng-model="model.OrgId">
                            <option value="" ng-selected="'' == model.OrgId">--请选择--</option>
                            <option ng-repeat="item in DeptList"
                                    ng-selected="item.Id == model.OrgId"
                                    value="{{item.Id}}">
                                {{item.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">年份:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="EvaluateYear"
                               ng-model="model.EvaluateYear"
                               maxlength="10"
                               minlength="2"
                               class="form-control required"
                               placeholder="请输入员工姓名" />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">月份:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="EvaluateMonth" ng-model="model.EvaluateMonth">
                            <option value="">--请选择月份--</option>
                            <option ng-repeat="item in monthList"
                                    ng-selected="item == model.EvaluateMonth"
                                    value="{{item}}">
                                {{item}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">分数:</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="Score"
                               ng-model="model.Score"
                               class="form-control required" placeholder="请输入分数" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">创建时间</label>
                    <div class="col-sm-10">
                        <input type="text"
                               name="Created"
                               ng-model="model.Created"
                               class="form-control adminlte_datepicker created" placeholder="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button class="btn  btn-warning" ng-click="Close()">关闭</button>
                        <button class="btn  btn-success" ng-click="Submit()">保存</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

@section scripts
{
    <script>
         var Id="@ViewBag.Id";
    </script>
    <script src="~/static/app/EvaluateAverageScoreForm.js"></script>
}