
@{
    Layout = "~/Views/Shared/_adminLTELayout.cshtml";
    ViewBag.Title = "考核平均分";
}

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-12">
                    <div class="col-xs-2" id="menuList">
                        @*<button class="btn btn-sm btn-default" id="btnAdd">新增</button>
                        <button class="btn btn-sm btn-info" id="btnEdit">编辑</button>
                        <button class="btn btn-sm btn-danger" id="btnDel">删除</button>*@

                    </div>
                    <div class="col-xs-1">
                        <input type="text" id="EvaluateYear"  autocomplete="off" class="form-control" placeholder="请输入年份">
                    </div>
                    <div class="col-xs-2">
                        <select class="form-control" id="EvaluateMonth">
                            <option value="">请选择月份</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-xs-1">
                        <input type="text" id="UserName"  autocomplete="off" class="form-control" placeholder="请输入姓名">
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-sm btn-primary" id="btnSearch">搜索</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-default">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <table id="tbList" data-reorderable-columns="true" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"></table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p id="modal-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button id="btnModalOk" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section scripts
{
    <script src="~/static/app/app.js"></script>
    <script>

        var _dataTable;
        $(function () {

            $("#menuList").loadMenus("evaluate_average_score");
         
            var date = new Date();
            var fullYear = date.getFullYear();
            var month = date.getMonth() + 1;

            $("#EvaluateYear").val(fullYear);
            $("#EvaluateMonth").val(month);

            var tbOptions = {
                columns: [
                    {
                        checkbox: true
                    }, {
                        visible: false,
                        field: 'Id'
                    }, {
                        field: 'UserName',
                        title: '姓名'
                    }, {
                        field: 'OrgName',
                        title: '部门'
                    }, {
                        field: 'EvaluateYear',
                        title: '年'
                    }, {
                        field: 'EvaluateMonth',
                        title: '月'
                    },
                    {
                        field: 'Score',
                        title: '分数'
                    }, {
                        field: 'CreateTime',
                        title: '创建时间'
                    }]
            };
            
            App.init({
                title: '考核平均分',
                width: '70%',
                height: '60%',
                form_url: '/EvaluateAverageScores/EvaluateAverageScoreForm/',
                delete_url: '/EvaluateAverageScores/Delete'
            });

            _dataTable = App.initTable('/EvaluateAverageScores/page', tbOptions);

            _dataTable.SetParameters({
                EvaluateYear: fullYear,
                EvaluateMonth: month
            });

            _dataTable.Init();

            $("#btnSearch").click(function () {

                var EvaluateYear = parseInt($("#EvaluateYear").val());
                var EvaluateMonth = $("#EvaluateMonth").val();
                var UserName = $("#UserName").val();

                if (isNaN(EvaluateYear) || (EvaluateYear < 1977 || EvaluateYear > 9999)) {
   
                    swal("提示", "请输入合法的年份", "warning");
                    return;
                }

                _dataTable.SetParameters({
                    EvaluateYear: EvaluateYear,
                    EvaluateMonth: EvaluateMonth,
                    UserName: UserName
                });

                _dataTable.Refresh();
            });

         
        });

    </script>

}